:root {
  --cutout-height-mobile: 30vh;
  --cutout-height-laptop: 70vh;
  --white: #fff;
  --black: #000;
}
* {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
body { margin: initial; }
.bg-tile-black {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0,0,0,1)
    1%,
    rgba(0,0,0,1)
  );
  color: var(--white);
  min-height: 40vh;
  padding-bottom: 20vh;
  position: relative;
  top: -5vh;
}
.bg-tile-white {
  height: 2in;
}
#cutout {
  margin-top: -70px;
  height: var(--cutout-height-mobile);
  padding-right: 10vw;
}
#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3vh;
  place-items: center;
}
#gallery > div:hover {
  background-image: linear-gradient(
    to bottom left,
    var(--white),
    20%,
    var(--black)
  );
  border-radius: .25em;
}
#gallery > div > div {
  background-color: var(--black);
  border-radius: .25em;
  margin: .25em;
}
#gallery > div > div > img {
  border-radius: .25em;
  margin: .25em;
  width: 25vw;
}
#more-from {
  color: var(--white);
  font-size: 17px;
  font-weight: 900;
  margin: 8vw;
  text-transform: uppercase;
}
#hero-header {
  font-weight: 900;
  padding-left: 8vw;
  text-transform: uppercase;
}
#hero-paragraph {
  font-weight: 500;
  padding: 2em;
}
#learn-more-button {
  background: var(--white);
  border: 3px solid var(--white);
  border-radius: 5em;
  color: var(--black);
  font-weight: 900;
  margin: 8vw;
  padding: 5px;
  text-transform: uppercase;
}
#main {
  display: flex;
  justify-content: space-around;
}
#primary-hero {
  background-color: var(--black);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.5)),
    url("ui-ux-home-assignment/assets/bg-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 40px 0px 40px var(--black);
}
#rico-back-button {
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 5em;
  color: var(--white);
  font-weight: 500;
  margin: 8vw;
  padding: 5px;
  text-transform: uppercase;
}

@media screen and (min-width: 920px) {
  .bg-tile-black {
    background-image: initial;
    min-height: 40vh;
    padding-bottom: initial;
    position: initial;
    top: initial;
  }
  #cutout {
    height: var(--cutout-height-laptop);
    padding-right: initial;
    z-index: 3;
  }
  #gallery {
    grid-template-columns: 6vw 6vw 6vw 6vw 6vw 6vw;
    column-gap: 4vw;
    justify-content: start;
    padding-left: 2vw;
    position: relative;
    z-index: 5;
    align-items: end;
    min-height: 20vh;
  }
  #gallery > div:hover {
    background-image: linear-gradient(
      to bottom left,
      var(--white),
      20%,
      var(--black)
    );
    border-radius: .5em;
  }
  #gallery > div > div {
    background-color: transparent;
    border-radius: .5em;
    margin: .5em;
  }
  #gallery > div > div:hover {
    background-color: var(--black);
  }
  #gallery > div > div > img {
    border-radius: .5em;
    margin: .5em;
    width: 8vw;
  }
  #gallery > div > div > img:hover {
    width: 9vw;
  }
  #hero-header {
    font-weight: 900;
    padding-left: initial;
  }
  #hero-paragraph {
    font-size: 16px;
    font-weight: 500;
    padding: initial;
    width: 51ch;
  }
  #learn-more-button {
    margin: initial;
  }
  #main {
    display: flex;
    justify-content: space-around;
  }
  #main > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5em;
    width: 50vw;
  }
  #more-from {
    font-size: 31px;
    margin: initial;
    margin-bottom: 10vh;
    width: 12ch;
  }
  #primary-hero {
    box-shadow: inset 90px 0px 90px var(--black);
  }
  #rico-back-button {
    font-weight: 800;
    margin: initial;
    vertical-align: bottom;
  }
}
